{% extends 'base.html.twig' %}

{% block title %}Herbiers Relevés{% endblock %}

{% block body %}
    <h1>Relevés</h1>

    <table class="table" border="1">
        <thead>
        <tr>
            <th>Date</th>
            <th>Lieu</th>
            <th>Relevé Brut</th>
            <th>Tableau</th>
            <th>Visualisation</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for relefe in releves %}
            <tr>
                <td>{{ relefe.date ? relefe.date|date('Y-m-d') : '' }}</td>
                <td>{{ relefe.lieu.nom }}</td>
                <td>{{ relefe.releveBrut }}</td>
                <td>
                    <table border="1">
                        {% set releveArray = relefe.releveBrut|split('/') %}
                        {% for row in 0..2 %}
                            <tr>
                                {% for col in 0..2 %}
                                    {% set index = row * 3 + col %}
                                    {% if releveArray|length > index %}
                                        <td style="border: 1px solid black;">{{ releveArray[index] }}</td>
                                    {% else %}
                                        <td style="border: 1px solid black;"></td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
                </td>
                <td>
                    <table class='visualisation' style="border-spacing: 0;">
                        {% set Tableau = relefe.getTableau() %}
                        {% for row in 0..2 %}
                            <tr>
                                {% for tab in 0..2 %}
                                    <td style="padding: 0;">
                                        <table class='petitTableau'>
                                            {% set casesVertes = Tableau[row*3 + tab] %}
                                            {% set casesVides = 9 %}
                                            {% for row2 in 0..2 %}
                                                <tr>
                                                    {% for tab2 in 0..2 %}
                                                        {% if casesVertes > 0 and random(0, 1) > 0.5 %}
                                                            <td class="vert"></td>
                                                            {% set casesVertes = casesVertes - 1 %}
                                                        {% else %}
                                                            <td></td>
                                                        {% endif %}
                                                    {% endfor %}
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
                </td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_releves_show', {'id': relefe.id}) }}">voir</a>
                    <a class="btn btn-success" href="{{ path('app_releves_edit', {'id': relefe.id}) }}">modifier</a>
                    <a class="btn btn-danger"  href="{{ path('app_releves_delete', {'id': relefe.id}) }}">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_releves_new') }}" class="btn btn-primary" >Ajouter</a>

    <style>
        .visualisation {
            border-collapse: collapse;
        }

        .petitTableau {
            width: 30px;
            height: 30px;
        }

        .vert {
            background-color: #008b1c;
        }


    </style>
{% endblock %}
