{% extends 'base.html.twig' %}

{% block title %}Relevés{% endblock %}

{% block body %}
    <h1>Relevés</h1>

    <table class="table">
        <tbody>

            <tr>
                <th>Date</th>
                <td>{{ relefe.date ? relefe.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Relevé Brut</th>
                <td >{{ relefe.releveBrut }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_releves_index') }}">Liste</a>

    <a class="btn btn-success"  href="{{ path('app_releves_edit', {'id': relefe.id}) }}">modifier</a>

    {{ include('releves/_delete_form.html.twig') }}
    <style>
        .btn-primary{
            margin-bottom: 10px;
        }
        .btn-success{
            margin-bottom: 10px;
        }
    </style>

{% endblock %}
