{% extends 'base.html.twig' %}

{% block title %}Relevés{% endblock %}

{% block body %}
    <h1>Relevés</h1>

    <table class="table">
        <tbody>

            <tr>
                <th>Date</th>
                <td>{{ relefe.date ? relefe.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Relevé Brut</th>
                <td >{{ relefe.releveBrut }}</td>
            </tr>
            <tr>
                <th>Tableau</th>
                <td>
                    <table border="1">
                        {% set releveArray = relefe.releveBrut|split('/') %}
                        {% for row in 0..2 %}
                            <tr>
                                {% for col in 0..2 %}
                                    {% set index = row * 3 + col %}
                                    {% if releveArray|length > index %}
                                        <td style="border: 1px solid black;">{{ releveArray[index] }}</td>
                                    {% else %}
                                        <td style="border: 1px solid black;"></td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
            <th>Visualisation</th>
            <td>
                <table class='visualisation' style="border-spacing: 0;">
                    {% set Tableau = relefe.getTableau() %}
                    {% for row in 0..2 %}
                        <tr>
                            {% for tab in 0..2 %}
                                <td style="padding: 0;">
                                    <table class='petitTableau'>
                                        {% set casesVertes = Tableau[row*3 + tab] %}
                                        {% set casesVides = 9 %}
                                        {% for row2 in 0..2 %}
                                            <tr>
                                                {% for tab2 in 0..2 %}
                                                    {% if casesVertes > 0 and random(0, 1) > 0.5 %}
                                                        <td class="vert"></td>
                                                        {% set casesVertes = casesVertes - 1 %}
                                                    {% else %}
                                                        <td></td>
                                                    {% endif %}
                                                {% endfor %}
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </td>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_releves_index') }}">Liste</a>

    <a class="btn btn-success"  href="{{ path('app_releves_edit', {'id': relefe.id}) }}">modifier</a>

    {{ include('releves/_delete_form.html.twig') }}
    <style>
        .btn-primary{
            margin-bottom: 10px;
        }
        .btn-success{
            margin-bottom: 10px;
        }
         .visualisation {
             border-collapse: collapse;
         }

        .petitTableau {
            width: 30px;
            height: 30px;
        }

        .vert {
            background-color: #008b1c;
        }
    </style>

{% endblock %}
